This is how the rewards mechanism will work. To participate in engage to earn, a user needs to start an “engagement session”. An engagement session can be started by a user by staking $LAZI for the duration of time for which they wish to participate in the engagement mining of $LAZI. 
Highest duration of engagement session could not me more than 2000 days
MULTIPLIER:
A user can add a multiplier for his/her engagement rewards by referring to the following formula:
Multiplier = S*T*U,
Where, S = max {user’s staked $LAZI/ mean $LAZI staked, 1}
	T = max {user’s stake duration/ mean duration of stake,1}
	U => username multiplier. Users get a multiplier for owing upto 5 .LAZI usernames. The multipliers will be as follows:


Usernames used for obtaining a multiplier will be staked as well and will only be unstaked at the end of the engagement session. 
A multiplier only gets added if the value of (S*T*U) > 1. Otherwise a default multiplier of 1 will be added to the user’s engagement session.

ENGAGEMENT MINNIG:
	Rewards for engagement mining = w1*Contribution score + w*2 Duration + w3*Staked amount
W1, w2 and w3 are specific weights attached to specific factors of engagement mining and are the proportions in which the daily tokens minted will be distributed. 
Initially, these weights will be kept as w1 = 60%, w2 = 25% and w3 = 15%. These weights can be changed as the project moves along to optimise for maximum good of the platform. 

	Contribution score:
Contribution score is a calculated as a User’s contribution to the social media. It is based on the following factors:
Content creation: frequency and quality of content creation inside the app
Interactions with other users
NFT-related activities: This will include buying/selling of new posts inside the app
Network growth: This will include inviting new users to the app or encouraging new users by liking/commenting/buying their posts
Platform support: maintaining a good behaviour, and reporting to community for bad behaviour
The specific weights of the factors inside contribution score are not disclosed so that users cant game the system to their advantage by engaging in bad behaviour such as wash trading etc. 
Duration:
Duration simply means user’s duration for engagement session/total duration of all the engagement sessions
Stake amount:
This means a user’s staked amount/total staked amount. 

LEADERBOARD:
10% of tokens minted everyday will be kept aside for users winning the leader boards every day. 50% of these tokens will be given to the user with top contribution score for the day and 25% each will be given to users with top NFT related activities and network growth

For developers:
	Contribution score metrics and data to measure:
Content creation (20%): • Frequency of content creation: 10% • Quality of content (likes, comments, shares): 10%
Interactions with other users (15%): • Number of comments: 7.5% • Number of likes and reactions: 7.5%
NFT-related activities (30%): • Number of NFTs created: 10% • NFT sales volume: 10% • Number of NFTs purchased: 10%
Network growth (25%): • Inviting new users: 12.5% • Encouraging new users (likes, comments, purchases): 12.5%
Platform support (10%): • Maintaining good behavior: 5% • Reporting bad behavior: 5%
This revised distribution places a higher weight on NFT-related activities and network growth, as requested.
To track the data for these factors, you can use the following methods:
Content creation: • Frequency of content creation: Track the number of posts a user creates through platform APIs or the backend database. • Quality of content: Collect data on user-generated content's engagement metrics (likes, comments, shares) via platform APIs or the backend database.
Interactions with other users: • Number of comments: Monitor the number of comments a user makes on other users' content through platform APIs or the backend database. • Number of likes and reactions: Track the total number of likes and reactions a user gives to other users' content via platform APIs or the backend database.
NFT-related activities: • Number of created NFTs: Track the number of NFTs a user creates on the platform through APIs or the backend database. • NFT sales volume: Monitor the total value of NFTs sold by a user using APIs or the backend database. • Number of NFTs purchased: Count the total number of NFTs bought by a user through APIs or the backend database.
Network growth: • Inviting new users: Monitor the number of successful invites a user has sent using referral codes, invitation links, or a dedicated invite system. • Encouraging new users: Track a user's engagement with new users' content (likes, comments, purchases) through platform APIs or the backend database.
Platform support: • Maintaining good behavior: Monitor user behavior through moderation logs or user reports. • Reporting bad behavior: Count the number of times a user has reported inappropriate content or behavior through a reporting system or the backend database.

PENALTIES FOR EARLY ENGAGMENT SESSION END:
If a user decides to end their session earlier than what they had set it for, they can do that but it will incur penalties on their staked amount and rewards. The penalties are as follows:
If engagement session ended before 50% of the duration set initially: 
Earned rewards: 50%
Initial staked amount: 30%
If engagement session ended between 50% to 80% of duration set initially:
Earned rewards: 25%
Initial staked amount: 15%
If engagement session ended after 80% of the duration set initially:
Earned rewards: 15%
Initial staked amount: 5%
Half of this penalty goes to the creator wallet and the other half gets added to the reward amount for the next day and is distributed amongst the engagement miners accordingly.




text 2: user oriented:
Engagement Mining
Incentivizing Active Participation and Fostering Community Growth in LAZI
Introducing our innovative rewards mechanism, designed to foster user engagement and encourage active participation in our platform. To partake in our "engage to earn" program, users must initiate an "engagement session" by staking $LAZI tokens for their desired participation period. 
Please note, the maximum duration for an engagement session is capped at 2000 days and the user gets their initial amount and rewards earned at the end of the duration of the engagement session.
Multiplier System:
The rewards mechanism employs a multiplier that enhances user engagement rewards based on their staking, engagement duration, and .LAZI usernames ownership. The multiplier is calculated using three factors: S, T, and U. To obtain the final multiplier value, these factors are multiplied together using the following formula:
Multiplier = S * T * U
Here's an easy-to-understand explanation of each factor:
S - Staking Ratio Factor: This factor assesses the ratio between the user's staked $LAZI tokens and the average staked $LAZI tokens by all users. If the user's staked amount exceeds the average, the ratio will be above 1. If not, the factor will be set to 1.
T - Duration Ratio Factor: This factor evaluates the ratio between the user's engagement session duration and the average duration of all engagement sessions. If the user's duration surpasses the average, the ratio will be above 1. If not, the factor will be set to 1.
U - Username Multiplier: Users can earn additional multipliers by owning up to 5 .LAZI usernames. Each username owned results in an incremental increase in the multiplier, as shown below:
Usernames Held
Username Multiplier
1
1.2
2
1.4
3
1.6
4
1.8
5
2
Please note that the usernames used to obtain the multiplier will also be staked during the engagement session, and they will only be unstaked upon its conclusion.
The calculated multiplier (S * T * U) is then applied to the user's engagement rewards, increasing their earnings based on their relative stake amount, session duration, and the number of owned .LAZI usernames. By incorporating the staking of usernames, we ensure that users who actively contribute to the platform are rewarded accordingly.
Engagement Mining:
Engagement mining rewards are determined by the following equation:
Rewards = w1 * Contribution Score + w2 * Duration + w3 * Staked Amount
w1, w2, and w3 represent the specific weights attributed to the engagement mining factors, which determine the daily token distribution proportions. Initially, these weights will be set as w1 = 50%, w2 = 35%, and w3 = 15%. These weights may be adjusted as the project progresses to optimize platform performance.
 
Contribution Score:
The contribution score is a measure designed to evaluate a user's involvement and positive impact on the social media platform. It considers a variety of aspects that demonstrate user engagement and contribution, including:
a. Content creation: This factor examines both the frequency and quality of the content generated by the user within the app.
b. Interactions with other users: This takes into account the user's active participation in discussions, collaborations, and connections with other members of the platform.
c. NFT-related activities: This involves the user's engagement in buying and selling new posts as NFTs within the app, showcasing their support for the creative community.
d. Network growth: This factor recognizes the user's efforts in inviting new users to the app and encouraging their participation by liking, commenting, or purchasing their posts.
e. Platform support: Users who maintain good behavior and contribute to a positive environment by reporting inappropriate conduct or content to the community will be recognized in their contribution score.
In order to maintain fairness and prevent gaming the system, the specific weights assigned to each of these factors in the contribution score calculation will not be disclosed. This approach ensures that users are motivated to actively participate and contribute to the platform in a genuine and balanced manner.
Duration and Stake Amount:
Duration: (user's engagement session duration / total duration of all engagement sessions) * duration rewards for the day
Stake amount: (user's staked amount / total staked amount) * staking rewards for the day
 
Leaderboard - Ignite the Competition:
Get ready to unleash your potential and rise to the top! Every day, an exhilarating 10% of newly minted tokens are set aside exclusively for our esteemed leaderboard champions. Showcase your prowess and dominate the daily competition to claim your rightful rewards.
Top Contributor - 50% Reward:
As the star performer with the highest daily contribution score, you'll be handsomely rewarded with a staggering 50% of the reserved tokens. Embrace the spotlight and revel in the recognition you've earned. Your dedication and commitment to the platform won't go unnoticed!
NFT Enthusiasts & Network Growth Gurus - 25% Reward each:
But that's not all! We have separate rewards for those who excel in NFT-related activities or drive extraordinary network growth. If you're among the top performers in either of these categories, you'll secure an impressive 25% share of the reserved tokens. By participating in the NFT market or growing the platform's user base, you can elevate your status and make your mark on the platform.
Join the leaderboard challenge today, and let the excitement fuel your journey to the pinnacle of success!
 
Penalties for Early Engagement Session Termination:
Users may choose to end their engagement session early but will incur penalties on both staked amount and rewards, as follows:
If the engagement session is terminated before completing 50% of the initially set duration:
Earned rewards: 50% reduction
Initial staked amount: 30% reduction
If the engagement session is terminated between 50% and 80% of the initially set duration:
Earned rewards: 25% reduction
Initial staked amount: 15% reduction
If the engagement session is terminated after completing 80% of the initially set duration:
Earned rewards: 15% reduction
Initial staked amount: 5% reduction
Half of the incurred penalty will be allocated to the creator wallet, while the other half will be added to the reward pool for the following day, distributed among engagement miners accordingly.
By implementing this rewards mechanism, we aim to create an engaging and thriving ecosystem that benefits all users who actively participate in the platform. Our intention is to encourage meaningful interactions, content creation, and community growth while maintaining a fair and transparent system for everyone involved.
